

.sidenav-container {
  height: 100%;
}

.sidenav {
  height: 100%;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons-container button {
  margin-right: 400px;
}

