  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="sidenavOpended">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-toolbar (toggleSidenav)="onToggleSidenav()"></app-toolbar>
      <mat-card>
        <mat-card-content>
          <div class="main-content">
            <form #formAssignement="ngForm">

              <mat-form-field>
                <input matInput placeholder="nom du devoir" #nomAssignement [(ngModel)]="nomDevoir"
                       name="nomDevoir">
              </mat-form-field>

              <mat-form-field>

                <input matInput [matDatepicker]="picker" placeholder="choisir une date"
                       [(ngModel)]="dateDevoir"
                       name="dateevoir">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>

                <input matInput placeholder="note du devoir" [(ngModel)]="noteDevoir"
                       name="noteDevoir">
              </mat-form-field>


              <mat-checkbox class="example-margin" [(ngModel)]="renduDevoir" name="renduDevoir">Devoir
                rendu
              </mat-checkbox>


              <button mat-stroked-button
                      [ngStyle]="{color:colorActive}"
                      (click)="onSubmit($event)">
                Ajouter un devoir !
              </button>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>








