<form *ngIf="formGroup" [formGroup]="formGroup">
  <div fxLayout="row">
    <mat-form-field fxFlex="100%">
      <mat-label>Nom de la matière</mat-label>
      <mat-select formControlName="nomMatiereSelect">
        <mat-option *ngFor="let matiere of matieres" [value]="matiere.nom">
          {{ matiere.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <div fxFlex="50%">
      <p>Matière: </p>
      <img class="uniform-image" [src]="image" alt="Image de la matière" />
    </div>
    <div fxFlex="50%">
      <img class="uniform-image prof" [src]="photoProfesseur" alt="photo du professeur" />
    </div>
  </div>
</form>
