<form *ngIf="formGroup" [formGroup]="formGroup">
  <mat-form-field class="form-field-full-width">
    <input matInput placeholder="Nom du devoir" formControlName="nomDevoir">
  </mat-form-field>

  <mat-form-field class="form-field-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Choisir une date" formControlName="dateDevoir">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-field-full-width">
    <input matInput placeholder="Note du devoir" formControlName="noteDevoir">
  </mat-form-field>

  <mat-checkbox class="checkbox-margin" formControlName="renduDevoir">Devoir rendu</mat-checkbox>
  <p *ngIf="formGroup.get('renduDevoir')?.disabled"> <mat-icon>warning</mat-icon> On ne peut marquer "rendu" un Assignment qui n'a pas été noté.</p>

</form>

