<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="sidenavOpended">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar (toggleSidenav)="onToggleSidenav()"></app-toolbar>
    <mat-card>
      <mat-card-content>
        <div class="main-content">
          <h1>Edition de l'assignement {{assignementTransmis?.nom}}</h1>
          <form [formGroup]="parentFormGroup">
            <mat-horizontal-stepper #stepper>
              <mat-step [stepControl]="parentFormGroup.controls['firstFormGroup']">
                <app-formulaire-assignment [formGroup]="firstFormGroup"
                                           [assignementTransmis]="assignementTransmis"></app-formulaire-assignment>
                <button mat-button matStepperNext>Suivant</button>
              </mat-step>
              <mat-step [stepControl]="parentFormGroup.controls['secondFormGroup']">
                <app-formulaire-matiere [formGroup]="secondFormGroup"
                                        [assignementTransmis]="assignementTransmis"></app-formulaire-matiere>
                <button mat-button matStepperNext>Suivant</button>
                <button mat-button (click)="onSave()">Enregistrer</button>
              </mat-step>

            </mat-horizontal-stepper>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>










