    <mat-nav-list>
      <a mat-list-item routerLink="">
        <mat-icon>view_module</mat-icon>
        Liste des devoirs
      </a>

      <a mat-list-item routerLink="/add">
        <mat-icon>note_add</mat-icon>
        Ajouter un devoir
      </a>

      <a mat-list-item (click)="editToolbar()">
        <mat-icon>edit</mat-icon>
        Modifier un devoir
      </a>

      <a mat-list-item (click)="deletToolbar()">
        <mat-icon>delete</mat-icon>
        Supprimer un devoir
      </a>

      <a mat-list-item href="#">

        <mat-icon>warning</mat-icon>
        Génération de données de test
      </a>
    </mat-nav-list>


